*{
  box-sizing:border-box;
  font-family: 'Calibri';
}
h1 {
  color: #ff8c1a;
}
h2 {
  color: #cc5200;
}

li {
  list-style:none;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.container{
  padding:10px;
}

header, aside, 
section, footer{
  border: 4px solid #4d4d4d;
}

header, footer{
  height: 280px;
  width: 100%;
  background-color: #808080;
}

aside, proj-image{
  width: 25%;
}

section, proj-desc{
  width: 75%;
}

.floatleft{
  float: left;
}

.floatright{
  float: right;
}

aside, section{
  height:300px;
  padding:10px;
}

.nav {
  display: flex;
justify-content:space-around;

}
.nav li {
  font-family:'Calibri';
}

.footer-info {
  display:flex;
  justify-content: space-between;
}

.logo {
  text-align:center;
}
