*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
}
html {
  font-size: 18px;
}
h1 {
  color: #ff8c1a;
  font-family: 'Fjalla One', sans-serif;
}
h2 {
  color: #cc5200;
  font-family: 'Fjalla One', sans-serif;
}
h3 {
  font-family: 'Josefin Sans', sans-serif; text-align:center; font-weight:400;
}
p, li {
  font-family: 'Rubik', sans-serif;
}

li {
  list-style:none;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.clearfix:after { clear:both; content:''; display:block; }

.container2 {
  margin:0 auto;
}

body {
  margin:0;
}

 footer{
  border-top: 4px solid #4d4d4d;
}

footer{
  height: 250px;
  width: 100%;
  background-color: #333;
}
 
footer p, footer a {
  color:#e0e0e0;
}

header {

  width: 100%;
  background-color: #fff;
}

aside, proj-image{
  width: 25%;
}

section, proj-desc{
  width: 75%;
}

.floatleft{
  float: left;
}

.floatright{
  float: right;
}



.nav {
/* width:75%;
 display: flex;
justify-content: center;*/
text-align:center;
margin:0 auto;

}

.footer-info {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.footer-info div {
  width:20%;
  text-align:center;
}

.logo {
  width:25%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.project-thumb {
  display: flex;
  justify-content:center;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  padding:10px;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} 

hover02 a {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.hover02 a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} 

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width:10%;
  padding:1em;
  background-color:#000;
}

figure {
  margin:0 auto;
}

.hover01, .hover02 {
  z-index:0;
}
figure img:hover {
   z-index: 500;
}


/* RESPONSIVE */

@media (min-width: 1690px) {
  .container2 {max-width:60%;}
  header {  height: 300px;}
}
@media (max-width:1689){
  header img {height:50px; width:50px;}
}

@media (min-width:1000px){
  aside, section{
    height:270px;
    padding:10px;
}
  
}
@media (min-width:962px){

}

@media (max-width: 999px){
  .container2 {max-width:95%;}
  html {font-size:28px;}
  aside, proj-image{width: 100%;}

section, proj-desc, .logo{
  width: 100%;
}
}

/*@media (min-width:1000px) and (max-width:1690px){

}*/


.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }
.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }
/*
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
*/