*{
  box-sizing:border-box;
  font-family: 'Calibri';
}
html {
  font-size: 18px;
}
h1 {
  color: #ff8c1a;
  font-family: 'Fjalla One', sans-serif;
}
h2 {
  color: #cc5200;
  font-family: 'Fjalla One', sans-serif;
}
h3 {
  font-family: 'Comfortaa', cursive;
}
p, li {
  font-family: 'Rubik', sans-serif;
}

li {
  list-style:none;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}

.container{
  padding:10px;
}

header, aside, 
section, footer{
  border: 4px solid #4d4d4d;
}

footer{
  height: 250px;
  width: 100%;
  background-color: #333;
}
 
footer p, footer a {
  color:#e0e0e0;
}

header {
  height: 300px;
  width: 100%;
  background-color: #fff;
}

aside, proj-image{
  width: 25%;
}

section, proj-desc{
  width: 75%;
}

.floatleft{
  float: left;
}

.floatright{
  float: right;
}

aside, section{
  height:300px;
  padding:10px;
}

.nav {
  width:75%;
  display: flex;
justify-content:space-around;

}

.footer-info {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.footer-info div {
  width:20%;
  text-align:center;
}

.logo {
  width:25%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.project-thumb {
  display: flex;
  justify-content:center;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} 