@import 'https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans|Muli';
.prompt {width:100%; margin:0 auto; text-align:center;}
h1 {font-family: 'Josefin Sans', sans-serif; text-align:center; font-weight:400; color:#c1c1b1;}
a {text-align:center; margin:0 auto;}